* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {font-size: helvetica, arial; }

.top-head {
    height: 30px;
    background-color: black;
}

.top-head img {
    height: 16px;
}

#jumbotron {
    background-image: url("../img/jumbo-bg.png") ;
    background-position: center top;
    height: 600px; 
    padding: 40px 20px;
}

#jumbotron2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center top;
    height: 700px;
    padding: 40px 20px;
}

#Play5 {
    padding: 40px 20px;
}

